QT_INSTALL_BINS = /Developer/Tools/Qt
QT_INSTALL_LIBS = /Library/Frameworks
QT_CORE_HEADERS = $(QT_INSTALL_LIBS)/QtCore.framework/Headers
QT_GUI_HEADERS = $(QT_INSTALL_LIBS)/QtGui.framework/Headers

BROWSER_VERSION_MAJOR = 0
BROWSER_VERSION_MINOR = 1
BROWSER_VERSION_PATCH = 0
BROWSER_VERSION_BUILD = 0
BROWSER_VERSION_STRING = $(BROWSER_VERSION_MAJOR).$(BROWSER_VERSION_MINOR)

// Linking
OTHER_LDFLAGS = -framework QtCore -framework QtGui

// Packaging
INFOPLIST_FILE = src/browser/Info.plist
PRODUCT_NAME = AXR Browser

// Search Paths
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(QT_INSTALL_LIBS)"
HEADER_SEARCH_PATHS = $(inherited) "$(BUILT_PRODUCTS_DIR)/AXRCore.framework/Headers" "$(BUILT_PRODUCTS_DIR)/usr/local/include" "$(SHARED_DERIVED_FILE_DIR)" "$(QT_CORE_HEADERS)" "$(QT_GUI_HEADERS)"

// Custom Compiler Flags
OTHER_CPLUSPLUSFLAGS = $(inherited) -isystem"$(QT_CORE_HEADERS)" -isystem"$(QT_GUI_HEADERS)"
